# Keil MDK-ARM Build Outputs and Temporaries
SoftWare/MDK-ARM/SWatch/*.o
SoftWare/MDK-ARM/SWatch/*.d
SoftWare/MDK-ARM/SWatch/*.d.update
SoftWare/MDK-ARM/SWatch/*.crf
SoftWare/MDK-ARM/SWatch/*.lnp
SoftWare/MDK-ARM/SWatch/*.axf
SoftWare/MDK-ARM/SWatch/*.htm
SoftWare/MDK-ARM/SWatch/*.build_log.htm
SoftWare/MDK-ARM/SWatch/*.dep
SoftWare/MDK-ARM/SWatch/*.map
SoftWare/MDK-ARM/SWatch/*.lst
SoftWare/MDK-ARM/SWatch/*.sct
SoftWare/MDK-ARM/SWatch/*.hex
SoftWare/MDK-ARM/SWatch/*.bin
SoftWare/MDK-ARM/SWatch/*.elf
SoftWare/MDK-ARM/SWatch/*.iex
SoftWare/MDK-ARM/SWatch/*.obj
SoftWare/MDK-ARM/SWatch/*.lib
SoftWare/MDK-ARM/SWatch/*.bak
SoftWare/MDK-ARM/SWatch/*.scvd
SoftWare/MDK-ARM/SWatch/*.pack